*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

}

#first {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    font-family: -apple-system;
    padding: 40px;
    margin: 10px;
}

.logo {
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yh/r/IS7e616CiR2.png");
    background-position: 0px 0px;
    background-size: 176px 258px;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    margin-bottom: 20px; 
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

.inputs input {
    margin-bottom: 10px;
    padding: 5px;
    width: 250px;
    height: 30px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    font-size: 12px;
    border-radius: 5px;
}

.left {
    height: 100%;
    width: 430px;
    background-image: url("https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones-2x.png?__makehaste_cache_breaker=73SVAexZgBW");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
    margin-top: 80px;
    transform: scale(1.1);
}

.btn{
    background-color: rgba(0, 149, 246, 0.3);
    border-radius: 8px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    opacity: 7;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: inherit;
    width: 265px;
    height: 32;




}


.second-hr{
    background-color: gray; height: 1px; width: 120px;
}

.Forgot{

    color: rgb(0, 55, 107);
    text-align: center;
    padding-top: 20px;
}

.navbar span{
color: gray;
padding: 10px;
}
